<table class="table table-hover">
    <thead>
        <tr>
            <th>Attendance ID</th>
            <th>Member ID</th>
            <th>Class ID</th>
            <th>Attendance Date</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of objs.attendanceList">
            <td>{{p.AttendanceId}}</td>
            <td>{{p.MemberId}}</td>
            <td>{{p.ClassId}}</td>
            <td>{{p.AttendanceDate}}</td>
            <!-- <td><button>Delete</button></td> -->
        </tr>
    </tbody>
</table>